[Desktop Entry]
Name=Cursor
Exec=/usr/share/cursor/cursor.AppImage
Icon=/usr/share/icons/hicolor/256x256/apps/cursor.png
Type=Application
Categories=Development; 
